@import "reset.css";
@charset "utf-8";

/* style.css - 湲곕낯 �뒪���씪 臾몄꽌, 2012 짤 yamoo9.com
---------------------------------------------------------------- */
/* ///////////////////////////////////////// 
	=湲곕낯 �뒪���씪
///////////////////////////////////////// */
html {
  overflow-y: scroll;
}

body {
 
	font-family: Helvetica, Arial, Verdana, sans-serif;
	min-height: 500px;
	background: #6e87a1;
	color: white;

}
.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:30px 0;
}
a:link, a:visited {
  color: #fff;
}
/* ///////////////////////////////////////// 
	=#page-wrap
///////////////////////////////////////// */
#page-wrap {
  width: 740px;
  margin: 100px auto;
}
h1 {
  text-align: center;
  font-family: "Unica One";
  font-size: 2em;
  margin-bottom: 1em;
  text-shadow: 0 1px 1px white;
  color: #fff; }
h1 span {
  display: block;
  margin-top: 6px;
  letter-spacing: 7px;
  font: 14px Verdana;
}

/* ///////////////////////////////////////// 
	=.no-js
///////////////////////////////////////// */	
.no-js #tab_design {
    overflow: hidden;
    padding: 2em;
    background: #fff;
    color: #333;
}
.no-js #tab_design li {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
.no-js #tab_design a {
    color: #333;
}
.no-js #tab_design img {
    vertical-align: bottom;
}

/* ///////////////////////////////////////// 
	=.Global Classes
///////////////////////////////////////// */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.ie6 .clearfix {
  height: 1px;
}
.ie7 .clearfix {
  min-height: 1px;
}
.blind {
  visibility: hidden;
  position: absolute;
  top: -10000px;
  height: 1px;
  width: 1px;
}

